.btn {
  display: inline-block;
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid #fff;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: #fff;
    background-color: transparent;
    // border: 3px solid #fff;
  }

  &--only-mobile {
    @include atLarge {
      display: none;
    }
  }

  &--only-desktop {
    display: none;

    @include atLarge {
      display: inline-block;
    }
  }

  &--block {
    display: block;
    width: 100%; //input btn needs that
  }

  &--rounded {
    border-radius: 10px;
  }

  &--address {
    padding: 1.5rem 0.8rem;
    text-transform: none;
    text-align: center;
    letter-spacing: 2px;
    background-color: transparent;
    color: #fff;
    // border: 3px solid #fff;

    @include atLarge {
      padding: 1.5rem 2rem;
    }

    &:hover {
      color: #000;
      background-color: #fff;
    }
  }

  &--address > * {
    display: block;

    @include atLarge {
      text-align: left;
    }
  }

  &--address .address-label {
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 2rem;

    @include atXlarge {
      font-size: 3rem;
    }
  }

  &--address .address-line-1 {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;

    @include atXlarge {
      font-size: 1.8rem;
    }
  }

  &--address .address-line-2 {
    font-size: 1rem;

    @include atXlarge {
      font-size: 1.6rem;
    }
  }

  &--address--simple {
    padding: 1rem;
    border-width: 1px;

    .address-label {
      padding: 0;
      font-size: 1.4rem;

      @include atXlarge {
        font-size: 3.6rem;
      }
    }
    .address-line-1 {
      display: none;
    }

    .address-line-2 {
      display: none;
    }

    @include atMedium {
      padding: 1.5rem;
      border-width: 3px;

      .address-label {
        padding-bottom: 1rem;
      }
      .address-line-1 {
        display: block;
      }

      .address-line-2 {
        display: block;
      }
    }
  }

  &--black {
    color: #fff;
    background-color: #000;
    border-color: #000;

    &:hover {
      color: #000;
      background-color: #fff;
      border-color: #000;
    }
  }
}
