.page-section {
  position: relative;

  &--gray {
    background-color: $mainGray;
  }

  &--centered {
    text-align: center;
  }

  &__content {
    @include atMedium {
      display: flex;
      align-items: center;

      &--reversed {
        flex-direction: row-reverse;
      }
    }
  }

  &__text {
    flex-grow: 1;
    flex-basis: 50%;
    @include atSmall {
      padding: 0 3rem;
    }
  }

  &__title {
    margin: 0;
    text-transform: uppercase;

    @include atMedium {
      font-size: 3.2rem;
    }

    @include atXlarge {
      font-size: 4rem;
    }

    &--white {
      color: #fff;
    }

    &--capitalize {
      text-transform: capitalize;
    }
  }

  &__title-green {
    color: $lightGreen;
  }

  &__title-red {
    color: $lightRed;
  }

  &__subtitle {
    margin-top: 1rem;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 300;

    @include atMedium {
      font-size: 2.4rem;
    }

    @include atXlarge {
      font-size: 3.2rem;
    }

    &--white {
      color: #fff;
    }
  }

  &__description {
    @include atMedium {
      font-size: 2rem;
    }

    @include atXlarge {
      font-size: 2.4rem;
    }
  }

  &__btn-container {
    .btn {
      @include atMedium {
        margin-top: 1rem;
        padding: 1.6rem 3.2rem;
        font-size: 2.2rem;
      }

      @include atLarge {
        padding: 1.8rem 3.4rem;
        font-size: 2.4rem;
      }
    }
  }

  &__image {
    min-height: 420px;
    flex-grow: 1;
    flex-basis: 50%;
    background: no-repeat center center/cover;

    @include atMedium {
      min-height: 570px;
      height: 100vh;
    }

    &--about {
      background-image: url("../img/about-img.jpg");
    }

    &--events {
      background-image: url("../img/events-img.jpg");
    }
  }
}
