.page-section {
  position: relative;
  overflow: hidden;

  &--gray {
    background-color: $mainGray;
  }

  &--centered {
    text-align: center;
  }

  &__content {
    @include atMedium {
      display: flex;
      align-items: center;

      &--reversed {
        flex-direction: row-reverse;
      }
    }
  }

  &__text {
    flex-grow: 1;
    flex-basis: 50%;

    @include atSmall {
      padding: 0 3rem;
    }
  }

  &__title {
    margin: 0;
    text-transform: uppercase;

    @include atMedium {
      font-size: 3.2rem;
    }

    @include atXlarge {
      font-size: 4rem;
    }

    &--white {
      color: #fff;
    }

    &--capitalize {
      text-transform: capitalize;
    }

    &--center {
      text-align: center;
    }

    &--b-margin {
      @include atMedium {
        margin-bottom: 3rem;
      }
    }
  }

  &__title-green {
    color: $lightGreen;
  }

  &__title-red {
    color: $lightRed;
  }

  &__subtitle {
    margin-top: 1rem;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 300;

    @include atMedium {
      font-size: 2.4rem;
    }

    @include atXlarge {
      font-size: 3.2rem;
    }

    &--white {
      color: #fff;
    }

    &--none-atMedium {
      @include atMedium {
        display: none;
      }

      @include atLarge {
        display: block;
      }
    }
  }

  &__description {
    @include atMedium {
      font-size: 2rem;

      @media (max-height: 400px) {
        font-size: 1.6rem;
        line-height: 1.2;
      }
    }

    @include atXlarge {
      font-size: 2.4rem;
    }

    &--contact {
      text-align: center;

      @include atLarge {
        font-size: 2rem;
      }
    }
  }

  &__btn-container {
    .btn {
      @include atMedium {
        margin-top: 1rem;
        padding: 1.6rem 3.2rem;
        font-size: 2.2rem;
      }

      @include atLarge {
        padding: 1.8rem 3.4rem;
        font-size: 2.4rem;
      }
    }
  }

  &__image {
    min-height: 420px;
    flex-grow: 1;
    flex-basis: 50%;
    background: no-repeat center center/cover;

    @include atMedium {
      min-height: 570px;
      height: 100vh;
    }

    &--home-about {
      background-image: url("../img/about-img.jpg");
    }

    &--home-events {
      background-image: url("../img/events-img.jpg");
    }

    &--page-about1 {
      background-image: url("../img/chef-up.jpg");
      min-height: 360px;
      max-height: 500px;
      margin-left: auto;
      margin-bottom: -4rem;

      @include atXlarge {
        margin-bottom: -8rem;
      }
    }
    &--page-about2 {
      background-image: url("../img/page-about2.jpg");
      min-height: 250px;
      max-height: 500px;
    }
  }
}
