.scroller-top {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  background-color: $mainGreen;
  border-radius: 50%;
  box-sizing: content-box;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;

  @include atMedium {
    width: 43px;
    height: 43px;
  }

  &--is-active {
    opacity: 0.4;
    visibility: visible;
  }

  &--reached-bottom {
    @include atMedium {
      position: absolute;
      top: -3px;
      bottom: auto;
      transform: translate(-50%, -50%);
      border: 6px solid #fff;
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -65%) rotate(-45deg);
    width: 12px;
    height: 12px;
    border-top: 3px solid $mainRed;
    border-right: 3px solid $mainRed;
    background-color: transparent;
    animation: scroller 1s alternate infinite;
  }

  @keyframes scroller {
    100% {
      transform: translate(-50%, -35%) rotate(-45deg);
    }
  }
}
