.v-space {
  padding-top: 4rem;
  padding-bottom: 4rem;

  // @include atMedium {
  //   padding-top: 6rem;
  //   padding-bottom: 6rem;
  // }

  &--half-of-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &--doubled-atXlarge {
    @include atXlarge {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }

  // --no-bottom-atMedium {
  //   @include
  // }
}
