.v-space {
  padding-top: 4rem;
  padding-bottom: 4rem;

  &--half-of-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &--doubled-atXlarge {
    @include atXlarge {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}
