.working-hours {
  text-align: left;

  &__days {
    margin: 0;
    font-size: 1.6rem;

    @include atSmall {
      font-size: 1.8rem;
    }
  }

  &__hours {
    margin: 0;
    line-height: 1.15;

    @include atLarge {
      font-size: 1.8rem;
    }
  }
}
