.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;
  overflow: hidden;

  &--half-page {
    max-width: 640px;
  }

  &--gray {
    background-color: $mainGray;
  }

  &--no-padding-atLarge {
    @include atLarge {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
